* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 4%;
}

$color-primary: #000000;
$color-text: #222222;
$color-gray: #cccccc;
$color-white: #ffffff;
$color-accent: #5c00dc;
$color-background: #393551;
$color-line: #bbbbbb;

$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

@mixin tile-padding {
  padding: 24px 32px 24px 32px;
}

@mixin section-margin-bottom {
  margin-bottom: 24px;
}

@mixin border {
  border-radius: 4px;
}

@mixin font($weight, $size, $height) {
  font-family: "Inter";
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

h1 {
  @include font($weight: $semibold-weight, $size: 32px, $height: 39px);
}

h2 {
  @include font($weight: $semibold-weight, $size: 24px, $height: 29px);
  margin-bottom: 8px;
}

h3 {
  @include font($weight: $semibold-weight, $size: 20px, $height: 24px);
  display: inline-block;
  vertical-align: middle;
}

h4 {
  @include font($weight: $regular-weight, $size: 16px, $height: 19.36px);
}

h5 {
  @include font($weight: $regular-weight, $size: 14px, $height: 16.94px);
  margin-bottom: 8px;
}

h6 {
  @include font($weight: $bold-weight, $size: 13px, $height: 14.52px);
  margin-bottom: 4px;
}

p {
  @include font($weight: $regular-weight, $size: 12px, $height: 14.52px);
  margin-top: 5px;
}

hr {
  height: 1px;
  background-color: $color-line;
}

/* -------------------- Header --------------------*/
.header {
  display: flex;
  justify-content: space-between;
}

.event-brand {
  display: flex;
}

.details {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background: $color-accent;
  width: 101px;
  height: 33px;
  padding: 8px, 16px;
  @include border;
  gap: 10px;
  color: $color-white;
  float: right;
  font-family: "Inter";
  font-size: 14px;
  font-weight: $semibold-weight;
  line-height: 17px;
  border: $color-accent;

  &:hover {
    background-color: darken($color-accent, 10%);
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 2em;
  }
}
/* -------------------- Header Two --------------------- */
.header-two {
  margin: 24px 0;
}

/* -------------------- Person Portal --------------------- */
.person-portal {
  margin: 24px 0;

  div {
    display: inline-block;
    vertical-align: middle;

    &:nth-child(2) {
      margin-left: 20px;
    }
  }

  img {
    width: 35px;
    display: inline-block;
  }
}

/* -------------------- CardTile --------------------*/
.center {
  text-align: center;
}

.card-title {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  margin-bottom: 5px;

  &.no-flex {
    display: inline;
  }
}

.card-tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  > div {
    @include tile-padding;
    border: 1px solid $color-gray;
    @include border;
    min-height: 122px;

    &:not(.center) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 768px) {
  .card-tile {
    grid-template-columns: 1fr;
  }
}

/* -------------------- Step 1 --------------------- */
.step-one,
.step-two,
.step-three {
  @include section-margin-bottom;
}

.tiles {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  border: 1px solid $color-gray;
  @include border;
  min-height: 116px;
  padding: 8px;

  > div {
    flex: 22%;
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (max-width: 992px) {
  .tiles > div {
    flex: 46%;
  }
}

@media screen and (max-width: 600px) {
  .tiles {
    min-height: fit-content;

    > div {
      flex: 100%;
    }
  }
}

/* -------------------- Step 4: --------------------*/
.step-four-tiles {
  background-color: $color-background;
  @include border;
  display: grid;
  padding: 24px;
}

.row-one .--tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 122px;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $color-white;
    @include tile-padding;
    margin: 12px;
    border: 1px solid $color-gray;
    @include border;
  }
}

.row-two .--tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 122px;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $color-white;
    @include tile-padding();
    margin: 12px;
    border: 1px solid $color-gray;
    @include border;
  }
}

@media (max-width: 992px) {
  .row-two .--tile {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .row-one .--tile {
    grid-template-columns: 1fr;
  }
}
