* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1%;
}
/* -------------------- Header --------------------*/
.header-row {
  display: flex;
  flex-wrap: wrap;
}
.header-row > * {
  width: 100%;
  padding: 1rem;
}
.header-row > .left-sidebar {
  background: #f5d55f;
}
.header-row > .main-content {
  background-color: #fff;
}
.header-row > .right-sidebar {
  background: #c5ed77;
}

button {
  background: #5c00dc;
  width: 101px;
  height: 33px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 4px;
  gap: 10px;
  color: white;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .header-row > .left-sidebar,
  .header-row > .right-sidebar {
    width: 50%;
  }
}

/* desktop breakpoint */
@media (min-width: 1024px) {
  .header-row > .left-sidebar {
    /* left sidebar second (first in second row) */
    order: -1;
  }
  .header-row > .main-content {
    width: 80%;
  }
  .header-row > .left-sidebar {
    width: 10%;
  }
  .header-row > .right-sidebar {
    width: 10%;
  }
}

/* -------------------- CardTile --------------------*/

/* -------------------- Step 1 --------------------- */
.step-one {
  display: flex;
  flex-wrap: wrap;
}

.step-one > div {
  flex: 22%;
  padding: 10px;
  background-color: lightseagreen;
  margin: 10px;
}
@media screen and (max-width: 992px) {
  .step-one > div {
    flex: 46%;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* see this link: https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_flex */
@media screen and (max-width: 600px) {
  .step-one {
    min-height: fit-content;
  }
  .step-one > div {
    /* flex-direction: column; */
    flex: 100%;
  }
}

/* -------------------- Step 2: --------------------*/

.card-tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-tile > div {
  padding: 10px;
  margin: 10px;
  border: 1px solid #999;
  border-radius: 0.2em;
}

p {
  font-size: 0.5em;
}

.card-title {
  display: flex;
}

@media screen and (max-width: 600px) {
  .card-tile {
    grid-template-columns: 1fr;
  }
}
/* .step-two {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid green;
  gap: 1rem;
  justify-content: space-between;
  min-height: 100px;
}

.step-two > div {
  background-color: pink;
  width: 33%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-height: 100px;
} */

/* -------------------- Step 3: --------------------*/
.step-three {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
  /* justify-content: space-between;
  align-items: center; */
  min-height: 100px;
}

.step-three > div {
  padding: 10px;
  min-height: 100px;
  background-color: blue;
  margin: 10px 0 10px 10px;
  flex-grow: 1 0 33.33%;
}
/* -------------------- Step 4: --------------------*/
.step-four-1 {
  background-color: gray;
  display: grid;
}
.step-four-1 > div {
  border-color: white;
  background-color: gray;
  color: white;
}

.card-tile-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-tile-2 > div {
  padding: 10px;
  margin: 10px;
  border: 1px solid #999;
  border-radius: 0.2em;
}

.step-four-2 {
  background-color: gray;
  display: grid;
}
.step-four-2 > div {
  border-color: white;
  background-color: gray;
  color: white;
}
