// @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2%;
}

$color-primary: #000000;
$color-text: #222222;
$color-gray: #cccccc;
$color-white: #ffffff;
$color-accent: #5c00dc;
$color-background: #393551;
$color-line: #bbbbbb;

$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

@font-face {
  font-family: "Inter";
  font-weight: $regular-weight;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}

@font-face {
  font-family: "Inter";
  font-weight: $semibold-weight;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
}

@font-face {
  font-family: "Inter";
  font-weight: $bold-weight;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
}

h1 {
  font-family: "Inter";
  font-weight: $semibold-weight;
  font-size: 32px;
  line-height: 39px;
}

h2 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: $semibold-weight;
  line-height: 29px;
}

h3 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: $semibold-weight;
  line-height: 24px;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: $regular-weight;
  font-size: 16px;
  line-height: 19.36px;
}

h5 {
  font-family: "Inter";
  font-size: 14px;
  font-weight: $semibold-weight;
  line-height: 16.94px;
}

h6 {
  font-family: "Inter";
  font-size: 13px;
  font-weight: $bold-weight;
  line-height: 14.52px;
}

p {
  font-family: "Inter";
  font-size: 12px;
  font-weight: $regular-weight;
  line-height: 14.52px;
}

hr {
  height: 1px;
  background-color: $color-line;
}

/* -------------------- Header --------------------*/
.header-row {
  display: flex;
  flex-wrap: wrap;
  min-height: 89px;
}
.header-row > * {
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background: $color-accent;
  width: 101px;
  height: 33px;
  padding: 8px, 16px;
  border-radius: 4px;
  gap: 10px;
  color: $color-white;
  font-family: "Inter";
  font-size: 14px;
  font-weight: $semibold-weight;
  line-height: 17px;
  border: $color-accent;

  &:hover {
    background-color: darken($color-accent, 10%);
  }
}

/* Mobile Centering */
@media (max-width: 768px) {
  .header-row {
    justify-content: center;
    text-align: center; /* Center the content inside items vertically */
  }
}

/* tablet breakpoint */
// @media (min-width: 768px) {
//   .header-row {
//     justify-content: flex-start;
//   }

//   .header-row .left-sidebar,
//   .header-row .right-sidebar {
//     width: 50%;
//   }
//   button {
//     float: left;
//   }
// }

/* desktop breakpoint */
@media (min-width: 1024px) {
  .header-row .left-sidebar {
    /* left sidebar second (first in second row) */
    order: -1;
  }
  .header-row .main-content {
    width: 80%;
  }
  .header-row .left-sidebar {
    width: 10%;
  }
  .header-row .right-sidebar {
    width: 10%;
  }
  button {
    float: right;
  }
}

/* -------------------- Step 1 --------------------- */
.step-one {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $color-gray;
  border-radius: 0.2em;
}

.step-one > div {
  flex: 22%;
  padding: 10px;
  margin: 10px;
}
@media screen and (max-width: 992px) {
  .step-one > div {
    flex: 46%;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* see this link: https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_flex */
@media screen and (max-width: 600px) {
  .step-one {
    min-height: fit-content;
  }
  .step-one > div {
    /* flex-direction: column; */
    flex: 100%;
  }
}
/* -------------------- CardTile --------------------*/
.center {
  text-align: center;
}

.no-flex {
  display: inline;
}

.card-tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card-title {
  display: flex;
}

.card-title.no-flex {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.card-tile > div {
  padding: 10px;
  /* margin: 10px; */
  border: 1px solid $color-gray;
  border-radius: 0.2em;
}

@media screen and (max-width: 600px) {
  .card-tile {
    grid-template-columns: 1fr;
  }
}

/* -------------------- Step 2: --------------------*/
.card-tile.tile--3 {
}

/* -------------------- Step 3: --------------------*/
.card-tile.tile--3 {
}
/* -------------------- Step 4: --------------------*/
.step-four-1 {
  background-color: $color-background;
  display: grid;
  border-radius: 4px 4px 0 0;
}
.step-four-1 > div {
  border-color: $color-gray;
  background-color: $color-background;
  color: $color-white;
  border-radius: 4px 4px 0 0;
}

.card-tile-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-tile-2 > div {
  border-color: $color-gray;
  background-color: $color-background;
  color: $color-white;
  padding: 10px;
  margin: 10px;
  border: 1px solid $color-gray;
  border-radius: 0.2em;
}

.step-four-2 {
  background-color: $color-background;
  display: grid;
  border-radius: 0 0 4px 4px;
}
.step-four-2 > div {
  border-color: $color-white;
  background-color: $color-background;
  color: $color-white;
  border-radius: 0 0 4px 4px;
}
.card-tile-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-tile-3 > div {
  padding: 10px;
  margin: 10px;
  border: 1px solid $color-gray;
  border-radius: 0.2em;
}

@media (max-width: 992px) {
  .card-tile-3 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .card-tile-2 {
    grid-template-columns: 1fr;
  }
  .step-four-1,
  .step-four-2 {
    grid-template-columns: 1fr;
  }
}
