// @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 4%;
}

$color-primary: #000000;
$color-text: #222222;
$color-gray: #cccccc;
$color-white: #ffffff;
$color-accent: #5c00dc;
$color-background: #393551;
$color-line: #bbbbbb;

$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

@font-face {
  font-family: "Inter";
  font-weight: $regular-weight;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}

@font-face {
  font-family: "Inter";
  font-weight: $semibold-weight;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
}

@font-face {
  font-family: "Inter";
  font-weight: $bold-weight;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
}

h1 {
  font-family: "Inter";
  font-weight: $semibold-weight;
  font-size: 32px;
  line-height: 39px;
}

h2 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: $semibold-weight;
  line-height: 29px;
  margin-bottom: 8px;
}

h3 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: $semibold-weight;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: $regular-weight;
  font-size: 16px;
  line-height: 19.36px;
}

h5 {
  font-family: "Inter";
  font-size: 14px;
  font-weight: $semibold-weight;
  line-height: 16.94px;
  margin-bottom: 8px;
}

h6 {
  font-family: "Inter";
  font-size: 13px;
  font-weight: $bold-weight;
  line-height: 14.52px;
  margin-bottom: 4px;
}

p {
  font-family: "Inter";
  font-size: 12px;
  font-weight: $regular-weight;
  line-height: 14.52px;
  margin-top: 5px;
}

hr {
  height: 1px;
  background-color: $color-line;
}

/* -------------------- Header --------------------*/
.header {
  display: flex;
  justify-content: space-between;
}

.event-brand {
  display: flex;
}

.details {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background: $color-accent;
  width: 101px;
  height: 33px;
  padding: 8px, 16px;
  border-radius: 4px;
  gap: 10px;
  color: $color-white;
  float: right;
  font-family: "Inter";
  font-size: 14px;
  font-weight: $semibold-weight;
  line-height: 17px;
  border: $color-accent;

  &:hover {
    background-color: darken($color-accent, 10%);
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 2em;
  }
}
/* -------------------- Header Two --------------------- */
.header-two {
  margin: 24px 0;
}

/* -------------------- Person Portal --------------------- */

.person-portal {
  margin: 24px 0;

  div {
    display: inline-block;
    vertical-align: middle;

    &:nth-child(2) {
      margin-left: 20px;
    }
  }

  img {
    width: 35px;
    display: inline-block;
  }
}

/* -------------------- Step 1 --------------------- */
.step-one {
  margin-bottom: 24px;
}

.tiles {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  border: 1px solid $color-gray;
  border-radius: 4px;
  min-height: 116px;
  padding: 8px;

  > div {
    flex: 22%;
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (max-width: 992px) {
  .tiles > div {
    flex: 46%;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* see this link: https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_flex */
@media screen and (max-width: 600px) {
  .tiles {
    min-height: fit-content;

    > div {
      /* flex-direction: column; */
      flex: 100%;
    }
  }
}
/* -------------------- CardTile --------------------*/
.center {
  text-align: center;
}

.card-title {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  margin-bottom: 5px;
}

.card-title.no-flex {
  display: inline;
}

.card-tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  > div {
    padding: 24px 32px 24px 32px;
    /* margin: 10px; */
    border: 1px solid $color-gray;
    border-radius: 4px;
    min-height: 122px;

    &:not(.center) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }
  }
}

@media screen and (max-width: 768px) {
  .card-tile {
    grid-template-columns: 1fr;
  }
}

/* -------------------- Step 2: --------------------*/
.step-two {
  margin-bottom: 24px;
}

/* -------------------- Step 3: --------------------*/
.step-three {
  margin-bottom: 24px;
}
/* -------------------- Step 4: --------------------*/
.step-four-tiles {
  background-color: $color-background;
  border-radius: 4px;
  display: grid;
  padding: 4px;
}

.row-one .--tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 122px;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: $color-white;
    padding: 24px 32px 24px 32px;
    margin: 10px;
    border: 1px solid $color-gray;
    border-radius: 4px;
  }
}

.row-two .--tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 122px;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $color-white;
    padding: 24px 32px 24px 32px;
    margin: 10px;
    border: 1px solid $color-gray;
    border-radius: 4px;
  }
}

@media (max-width: 992px) {
  .row-two .--tile {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .row-one .--tile {
    grid-template-columns: 1fr;
  }
}
