* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2%;
}

/* -------------------- Header --------------------*/
.header-row {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
    // padding: 1rem;
  }

  > .main-content {
    background-color: #fff;
  }
}

button {
  background: #5c00dc;
  width: 101px;
  height: 33px;
  padding: 8px 16px;
  border-radius: 4px;
  gap: 10px;
  color: white;
  float: right;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .header-row > .left-sidebar,
  .header-row > .right-sidebar {
    width: 50%;
  }
}

/* desktop breakpoint */
@media (min-width: 1024px) {
  .header-row > .left-sidebar {
    /* left sidebar second (first in second row) */
    order: -1;
  }
  .header-row > .main-content {
    width: 80%;
  }
  .header-row > .left-sidebar {
    width: 10%;
  }
  .header-row > .right-sidebar {
    width: 10%;
  }
}

/* -------------------- Step 1 --------------------- */
.step-one {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
  border-radius: 0.2em;

  > div {
    flex: 22%;
    padding: 10px;
    margin: 10px;
  }

  @media screen and (max-width: 992px) {
    > div {
      flex: 46%;
    }
  }

  @media screen and (max-width: 600px) {
    min-height: fit-content;

    > div {
      flex: 100%;
    }
  }
}

/* -------------------- CardTile --------------------*/
.center {
  text-align: center;
}

.no-flex {
  display: inline;
}

.card-tile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-title {
  display: flex;

  &.no-flex {
    display: inline;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.card-tile > div {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 0.2em;
}

p {
  font-size: 0.5em;
}

@media screen and (max-width: 600px) {
  .card-tile {
    grid-template-columns: 1fr;
  }
}

/* -------------------- Step 2: --------------------*/
.card-tile.tile--3 {
}

/* -------------------- Step 3: --------------------*/
.card-tile.tile--3 {
}

/* -------------------- Step 4: --------------------*/
.step-four-1,
.step-four-2 {
  background-color: gray;
  display: grid;

  > div {
    border-color: white;
    background-color: gray;
    color: white;
  }
}

.card-tile-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > div {
    padding: 10px;
    margin: 10px;
    border: 1px solid #999;
    border-radius: 0.2em;
  }
}

.card-tile-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > div {
    padding: 10px;
    margin: 10px;
    border: 1px solid #999;
    border-radius: 0.2em;
  }
}
